html{

}

body{
    width:1100px;
    height: auto;
}

.video-wrapper{
    position:relative;
    padding-bottom: 56.25%;
}

.video-wrapper iframe {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.video-wrapper video {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

video {
    width: 100%    !important;
    height: auto   !important;
}

img {
    width: 100%    !important;
    height: auto   !important;
}

.section-article{
    background-color: lightgrey;
    height: 600px;
    padding: 10px;
}

.section-feed{
    background-color: lightyellow;
    height: 600px;
    padding: 10px;
}
.section-aside{
    background-color: lightblue;
    height: 600px;
    padding: 10px;
}

.nav{


}