{% extends '../templates/default.twig' %}

{% block title%} Video {% endblock %}

{% block content %}
   <h1>Youtube video</h1>
    <section class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/9EcjWd-O4jI" frameborder="0" allowfullscreen></iframe>
    </section>
{% endblock %}