{% extends 'templates/default.twig' %}

{% block title %} addArticle {% endblock %}

{% block content %}
    <h1>Lägg till artikel</h1>
    <form class="form-horizontal" action="/article/add" method="post">
        
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title" placeholder="Titel">
    </div>
  </div>  
        
  <div class="form-group">
    <label for="body" class="col-sm-2 control-label">Body</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="body" name="body" placeholder="Body">
    </div>
  </div>   
        
    <div class="form-group">
    <label for="body" class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="author" name="author" placeholder="Author">
    </div>
  </div>  
        
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Spara</button>
    </div>
  </div>
    
  
</form>
{% endblock %}