{% extends 'templates/default.twig' %}

{% block title %} Home {% endblock %}

{% block content %}

    <section class="container-fluid">
        <div class="row">
            <article class="col-md-6 section-article">Article</article>
            <div class="col-md-3 section-feed">Feed</div>
            <aside class="col-md-3 section-aside">Sidebar</aside>
        </div>
    </section>


{% endblock %}